<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Sheet Music International</title>
    <meta name="description" content="Bootstrap 4 migration guide, themes and example snippets. Find themes, code examples for Bootstrap 4,and how to customize Bootstrap 4 with SASS." />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.4/css/bootstrap.min.css" />
    <link href="//cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.1/animate.min.css" rel="stylesheet" />

    <link rel="stylesheet" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" />
    <link rel="stylesheet" href="css/styles.css" />
  </head>
  <body class="bg-faded">
    <nav id="topNav" class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <button class="navbar-toggler hidden-md-up pull-right" type="button" data-toggle="collapse" data-target="#collapsingNavbar">
                ☰
            </button>
            <a class="navbar-brand page-scroll" href="/">Home</a>
            <div class="collapse navbar-toggleable-sm" id="collapsingNavbar">
                <ul class="nav navbar-nav">
                  {{#if user}}
                    <li class="nav-item">
                        <a class="nav-link page-scroll" href="/dashboard">Dashboard</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link page-scroll" href="/upload">Upload</a>
                    </li>
                  {{else}}
                    <li class="nav-item">
                        <a class="nav-link page-scroll" href="/users/register">Register</a>
                    </li>
                  {{/if}}
                </ul>
                <ul class="nav navbar-nav pull-xs-right">
                    {{#if user}}
                    <li class="nav-item">
                        <a class="nav-link page-scroll" href="/users/logout">Logout</a>
                    </li>
                    {{else}}
                    <li class="nav-item">
                        <a class="nav-link page-scroll" href="/users/login">Login</a>
                    </li>
                    {{/if}}
                </ul>
            </div>
        </div>
    </nav>

    {{{body}}}


    <footer class="footer">
      <p>&copy; 2016 Sheet Music International, Inc.</p>
    </footer>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/tether/1.2.0/js/tether.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/js/bootstrap.min.js"></script>
    <script src="js/scripts.js"></script>
  </body>
</html>
