    <header id="first">
    <div class="header-content">
        <div class="inner">
            <h2>Welcome to Sheet Music International</h2>
            <h5 class="wow fadeIn text-normal">Some details</h5>
            <h6 class="wow fadeIn text-normal">Some other details</h6>
            <hr>
            <a href="/users/register" class="btn btn-primary-outline btn-xl page-scroll wow fadeInUp">Get Started</a>
        </div>
    </div>
</header>