<section id="last">
  <div class="container wow fadeInUp">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2 text-xs-center">
                <h2 class="margin-top-0 wow fadeIn">Sign up Today</h2>
                <hr class="primary">
                <p>Welcome to the family, we look forward to having you.</p>
            </div>
            <div class="col-lg-10 offset-lg-1 text-xs-center">
                <form class="contact-form row">
                    <div class="col-md-4">
                        <label></label>
                        <input type="text" class="form-control" placeholder="Name">
                    </div>
                    <div class="col-md-4">
                        <label></label>
                        <input type="text" class="form-control" placeholder="Username">
                    </div>
                    <div class="col-md-4">
                        <label></label>
                        <input type="text" class="form-control" placeholder="Email">
                    </div>
                    <div class="col-md-4">
                        <label></label>
                        <input type="password" class="form-control" placeholder="Password" name="password">
                    </div>
                    <div class="col-md-4">
                        <label></label>
                        <input type="password" class="form-control" placeholder="Re-enter Password" name="password2">
                    </div>
                    <div class="col-md-4 offset-md-4">
                        <label></label>
                        <button type="submit" class="btn btn-primary btn-block btn-lg">Sign Up <i class="ion-android-arrow-forward"></i></button>
                    </div>
                </form>
            </div>
        </div>
    </div>
  </div>
  {{#if errors}}
      {{#each errors}}
        <div class="alert alert-danger">{{msg}}</div>
      {{/each}}
{{/if}}
</section>